%a#menu-toggle.btn.btn-default{:href => "#menu-toggle"} Toggle Menu
#page-content-wrapper
  .container-fluid
    .row
      .col-lg-12
        %h1 Simple Sidebar
        %p This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.
        %p
          Make sure to keep all page content within the
          = succeed "." do
            %code #page-content-wrapper
  / /#page-content-wrapper
/ /#wrapper
/ jQuery
%script{:src => "js/jquery.js"}
/ Bootstrap Core JavaScript
%script{:src => "js/bootstrap.min.js"}
/ Menu Toggle Script
:javascript
  $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
  });
