%a#menu-toggle.btn.btn-default{:href => "#menu-toggle"} Menu
#page-content-wrapper
  .container-fluid
    .row
      .col-lg-12
        %div.jumbotron{:style=>"background-color:#25242c;"}
          %h1 Welcome
        %hr
        .row
          .col-lg-9
            - @blog.each do |i|
              %div.post
                .row
                  .col-lg-8
                    = link_to i.title.upcase,i
                    %br
                    = i.body[0..10]
                  .col-lg-4
                    = image_tag i.image.url(:thumb)
              %hr
          .col-lg-3.post
            .header Recent Post
            - @blog.each do |i|
              %ul
                %li= i.title
                    
              
  / /#page-content-wrapper
/ /#wrapper
/ jQuery
%script{:src => "js/jquery.js"}
/ Bootstrap Core JavaScript
%script{:src => "js/bootstrap.min.js"}
/ Menu Toggle Script
:javascript
  $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
  });
