%a#menu-toggle.btn.btn-default{:href => "#menu-toggle"} Toggle Menu
#page-content-wrapper
  .container-fluid
    .row
      .col-lg-12
        %div.page-header
          %h1 vikas
  / /#page-content-wrapper
/ /#wrapper
/ jQuery
%script{:src => "js/jquery.js"}
/ Bootstrap Core JavaScript
%script{:src => "js/bootstrap.min.js"}
/ Menu Toggle Script
:javascript
  $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
  });
