#sidebar-wrapper
  %ul.sidebar-nav
    %li.sidebar-brand
      %a{:href => "#"}V
          
    %li
      %a{:href => "#"} About me
    %li
      %a{:href => "#"} Blog
    %li
      %a{:href => "#"} LeetCode
    %li
      %a{:href => "#"} Contact
    