#sidebar-wrapper
 
    
  .row

    %ul.sidebar-nav
      %li.sidebar-brand
        = image_tag "1.jpg",:class=>"profile"
        %a{:href => "#"}Vikas

      %li
        %a{:href => "#"} All blog
      %li
        %a{:href => "#"} Leetcode
      %li
        %a{:href => "#"} About
      %li
        %a{:href => "#"} Contact
    