/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');
@import url('https://fonts.googleapis.com/css?family=Bangers|Righteous');
@import url('https://fonts.googleapis.com/css?family=Courgette');
@import url('https://fonts.googleapis.com/css?family=Raleway');
h1{
  color: white !important;
  font-family: 'Righteous';
  font-size: 6em;

}
.post{
  font-family: 'Raleway';
  background-color: #d0d0d0;
  color: black;
  font-size: 1.5em;
  padding: 10px;
}
.profile{
  height:100px;
  width:100px;
  border-radius: 50px;
  -moz-border-radius:50px;
  -webkit-border-radius:50px;
}
hr{
  border:0;
  height: 30px;

  width: 100% !important;
  margin: 0;
}
